SUPABASE_URL=https://wjvubgajgppzdzmkqwuy.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_iAM9-laM3TgFqvXqo3mq8A_LGrWcmzN
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdnViZ2FqZ3BwemR6bWtxd3V5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzODIzMjksImV4cCI6MjA4ODk1ODMyOX0.rouHbx4hSxcab2VdcsMQei82uDb44BeUWvMRvJHQetw
